<div class="chat-window">
    <div #chatWindow class="chat-logger">
        <div *ngFor="let message of messages" class="messages">
           <div class="user">
            {{message.username}}
           </div>
           <div class="message">
            {{message.message}}
           </div>
        </div>
    </div>
    <div class="typing-box-send">
        <div class="box">
            <form #form="ngForm">
                <textarea type="text" cols="40" 
                rows="5" 
                style="width:215px; height:30px;" maxlength="250" name="message" placeholder="type your message" [(ngModel)]="message">
            </textarea>
            </form>
        </div>
        <div class="send">
            <button  (click)="sendMessage()"><span>SEND</span></button>
        </div>
    </div>
</div>