.sessionview {
    display: flex;
    justify-content: center;
}

.session-view-contianer {
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 338px;
    margin: 8px;
}

.chat-stand {
    max-width: 400px;
    display: grid;
    gap:5px;
    grid-template-columns: 2.5fr 1fr;
}
.userHeader {
    padding:5px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
}

.leave {
    font-size: 1rem;
}

.username {
    font-size: 1rem;
}

.room {
    font-weight: bolder;
    font-size: 1.5rem;
}

.copy-icon:active {
    transform: scale(0.96); 
}

.logger {
    border-radius: 10px;
    max-width:400px;
    border: 3px solid rgb(0, 0, 0);
}

.chat {
    border-radius: 10px;
    width:230px;
    border: 3px solid rgb(0, 0, 0);
}

.stand {
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);

}


